/* src/global.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&family=Roboto:wght@400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
}

html {
  font-size: 100%;
  width: 1024px;
  margin: 0 auto;
}